<div class="content">
  <div class="page-content">
    <div class="views">
      <app-list class="viewsMaster" [title]="titleMaster" [startOpened]="false"
      [collapsable]="false"></app-list>
      <app-list class="viewsTag" [master]="masterTag" [startOpened]="false"
        [collapsable]="false"></app-list>
    </div>
    <div class="inputs">
      <div class="master">
        <input type="text" name="titleTag" id="titleTag" (keyup)="changeTitle($event)">
        <input type="text" name="masterTag" id="masterTag" (keyup)="changeMaster($event)">
      </div>
      <div class="tag">
        <input type="text" name="tag" id="tag">
        <button>add tag</button>
        <button>Remove last tag</button>
      </div>
    </div>
  </div>
</div>