<div class="content">
  <div class="page-content">
    <div class="views">
    <app-list class="viewsMaster"  [items]="rules"></app-list> 
      <app-list class="viewsTag"  [items]="instructions" [startOpened]="false"
        [collapsable]="false"></app-list>
    </div>
    <div class="inputs">
      <div class="master">
        <input type="text" name="titleTag" id="titleTag">
        <input type="text" name="masterTag" id="masterTag">
      </div>
      <div class="tag">
        <input type="text" name="tag" id="tag">
        <button>add tag</button>
        <button>Remove last tag</button>
      </div>
    </div>
  </div>
</div>